@model CinemaApp.Domain.DomainModels.Movie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovieTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovieDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieGenre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovieGenre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieDirector)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovieDirector)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieCast)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovieCast)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovieDuration)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
